@import "src/scss/variables";

.productsContainer {
  margin: 30px 80px 210px 80px;

  .productHeading {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $grey-text;
    margin: 0;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 78px;
    margin: 34px 0;

    .product
    {
      cursor: pointer;
      position: relative;
      margin-bottom: 40px;

      .bidPlaced {
        position: absolute;
        z-index: 2;
        margin: 26px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: $grey-text;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

        .label {
          color: $grey-text;
        }

        .amount {
          color: $white-text;
        }
      }

      img {
        width: 100%;
        border-radius: 8px;
        display: block;
        transition: box-shadow 0.5s ease-in-out;
        &:hover {
          box-shadow: 10px 12px 25px 6px #000000B2;
          transition: box-shadow 0.5s ease-in-out;
        }
      }

      .description {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;

        .time {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase;
          color: $grey-text;
        }

        .name {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase;
          color: $white-text;
        }
      }

      &:first-child {
        animation-delay: 0ms;
      }

      &:nth-child(2) {
        animation-delay: 200ms;
      }

      &:nth-child(3) {
        animation-delay: 400ms;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .productsContainer {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: $sm) {
  .productsContainer {
    .products {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
