@import "src/scss/variables";

.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 85.42%),
  url('../../assets/hero.jpg'), #C4C4C4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  margin: 96px 39px;
  position: relative;

  h1 {
    position: absolute;
    font-weight: 800;
    font-size: 100px;
    line-height: 90px;
    text-transform: uppercase;
    color: $white-text;
    bottom: 39px;
    left: 41px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: $md) {
  .hero {
    h1 {
      font-size: 80px;
    }
  }
}

@media screen and (max-width: $sm) {
  .hero {
    h1 {
      font-size: 50px;
    }
  }
}


