
$app-background: #191919;
$grey-text: #999999;
$white-text: #FFFFFF;
$primary-button-background: #6D60D5;
$primary-button-background-hover: #6153d0;
$error-color: #FF0101;

//Media Queries Breakpoints
$xs: 580px;
$sm: 767px;
$md: 991px;
$lg: 1200px;
$xl: 1800px;
